name: CI

on:
    push:
        branches: ["main"]
    pull_request:

jobs:
    build-test:
        name: Build and Test (${{ matrix.os }})
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: ["ubuntu-latest", "windows-latest", "macos-latest"]

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Rust
              uses: dtolnay/rust-toolchain@stable

            - name: Cache Cargo
              uses: Swatinem/rust-cache@v2

            - name: Build
              run: cargo build --verbose

            - name: Test
              run: cargo test --verbose
